[submodule "hugo-PaperMod"]
	path = hugo-PaperMod
	url = https://github.com/shikharkanaskar/hugo-PaperMod.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/shikharkanaskar/hugo-PaperMod.git
